---
title: "Intro to Programming for Data Science"
author: "geshun"
format: ipynb
editor: visual
---

In [ ]:
import pandas as pd

### Loading Data

Open and read files using vanilla python

In [ ]:
f = open('revenues.txt', 'r')
rev = f.read()
f.close()
rev

Clean the string output of the above operation and find the mean of the values

Read files using Pandas

In [ ]:
df = pd.read_csv("revenues.txt", sep="\t")

### Some R Datasets from Seaborn

In [ ]:
import seaborn as sns
sns.get_dataset_names()

Get iris dataset

In [ ]:
iris = sns.load_dataset("iris")
iris

### Basic Info and Summary

In [ ]:
iris.shape
iris.dtypes
iris.columns # can also set: iris.columns = [some list]
iris.index # can also set: iris.index = [some list]
iris.info()
iris.describe()
iris.isna().sum()

In [ ]:
df.index = range(2016, 2021)

### Filtering Records

In [ ]:
iris.head()
iris.tail()
iris.loc[0] # advisable to use .loc for labeled index other than ints
iris.iloc[:4]
iris.iloc[[3]] # returns DataFrame
iris.query("sepal_length < 5")

### Selecting Fields

In [ ]:
iris['species'].unique()
iris.drop('species', axis=1)

## Mutating Columns

In [ ]:
df['double_revenue'] = df['revenue'] * 2
df.assign(triple_revenue = df['revenue'] * 3)

## Aggregation

In [ ]:
iris.max()
iris['species'].value_counts()
iris.groupby(['species']).size()
iris.groupby(['species'])['sepal_length'].min()

In [ ]:
iris.groupby(['species']).agg({'sepal_length': ['min', 'max']})

In [ ]:
iris.groupby(['species']).agg(['min', 'max'])

In [ ]:
iris.corr()
iris.drop('species', axis=1).cumsum()

In [ ]:
diamonds = sns.load_dataset("diamonds")
diamonds.groupby(["cut"])["price"].mean()

In [ ]:
diamonds.groupby('cut').size().plot()